* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html,body {
    height:100%;
}

main {
    height: 100%;
    background-color: rgb(19, 31, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 370px;
    height: 685px;
    margin: 10px 10px 0px 10px;
    box-shadow: 
        rgba(0, 0, 0, 0.4) 0px 2px 4px, 
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    border-radius: 10px;
}


/************************************************/
/************** Gornja slika ********************/


.top-image {
    width: 370px;
    height: 250px;
    background-image: url(images/pexels-photo-129105.jpeg);
    background-size: 500px;
    background-position: center;
    border-radius: 10px 10px 0 0; /* i u .calendar+.container ima isti ovaj border-radius, treba da se poklapaju */
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.6) 0 0 5px;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}

h2 {
    padding-left: 20px;
    margin-top: -7px;
    font-weight: 300;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

.control {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: flex-end;
}

.control button {
    padding: 0 6px;
    width: 4rem;
    height: 1.6rem;
    cursor: pointer;
    background: whitesmoke;
	border: none;
	outline: inherit;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid rgb(197, 197, 197);
    font-size: 1rem;
    color: rgb(85, 85, 85);
}

.control button:nth-child(2) {
    border-radius: 10px 0 0 10px;
    border: none;
}

.control button:first-child {
    margin-right: 0.6rem;
    padding-bottom: 0.32rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: whitesmoke;
    background: none;
    border: none;
}

.control button:hover {
    opacity: 0.95;
    box-shadow: 0px 0px 12px 2px rgba(255,255,255,0.2);
    transition-delay: 100ms;
    transition: opacity,box-shadow 200ms;
}

.control button:first-child:hover {
    opacity: 1;
    box-shadow: 0px 0px 38px 4px rgba(252, 252, 252, 0.58);
}

.control button:active {
    opacity: 0.7;
    outline: none;
    background-color: none;
}


/************************************************/
/************** Donji deo kalendara *************/


.calendar {
    max-width: 400px;
    height: 450px;
    border-radius: 10px; /* i u .top-image+.container ima isti ovaj border-radius, treba da se poklapaju */
    position: relative;
    top: -15px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4) 0 -5px 10px 2px;
}

.pon-uto-sre {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.pon-uto-sre p {
    width: 20%;
    text-align: center;
}

.dani {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 3%;
}

.dan {
    width: 17.3%;
    height: 3rem;
    margin: 1.35% 1.35% 10px 1.35%;
    border-radius: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 6px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 4px 8px;
}

.dan:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    transition-delay: 100ms;
    transition: box-shadow 200ms;
}

.oglasnik {
    font-size: 1.25rem;
}

.dan p {
    opacity: 0.4;
    font-size: 1rem;
}

.dan:nth-child(6n+1),
.dan:nth-child(7n+1) {
    display: none;
}

.dan:last-child {
    background-image: url(images/money.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 90% 5%;
}

.padding {
    opacity: 0.4;
}

/***************************************************/
/***************** Dani u kalendaru ****************/


/***************************************************/